# Read lib/constants/config.ts for more information

# Database
DATABASE_URL_HPBASE=
DATABASE_URL_PROPOSALS=

# URL
NEXT_PUBLIC_URL=
NEXTAUTH_URL=

# Password
NEXTAUTH_SECRET=
SALT_ROUNDS=

# CI
CI=false

# Email
NEXT_PUBLIC_CONTACT_EMAIL=
PROJECTS_BRAZIL_EMAIL=
DEVELOPMENT_BRAZIL_EMAIL=
NOREPLY_HOST=
NOREPLY_PORT=
NOREPLY_EMAIL=
NOREPLY_PASSWORD=

# Maintenance
NEXT_PUBLIC_MAINTENANCE_MODE=

# Azure File Storage
NEXT_PUBLIC_AZURE_STORAGE_URL=
AZURE_STORAGE_CONNECTION_STRING=
AZURE_STORAGE_ACCOUNT_NAME=
AZURE_STORAGE_ACCOUNT_KEY=

# Sentry (error log)
SENTRY_AUTH_TOKEN=
SENTRY_DSN=
NEXT_PUBLIC_SENTRY_DSN=

# Other
STORAGE_PATH=storage/
COMPANY_ACRONYM=HP
GENERATE_SOURCEMAP=false