# Read lib/constants/config.ts for more informationDATABASE_URL_HPBASE=mysql://root:147852@localhost:3306/harrispye_db
DATABASE_URL_PROPOSALS=
GENERATE_SOURCEMAP=
NEXTAUTH_SECRET=
NEXT_PUBLIC_URL=
NEXTAUTH_URL=
NEXT_PUBLIC_CONTACT_EMAIL=
SALT_ROUNDS=

NOREPLY_HOST=
NOREPLY_PORT=
NOREPLY_EMAIL=
NOREPLY_PASSWORD=

NEXT_PUBLIC_MAINTENANCE_MODE=

STORAGE_PATH=storage/

NEXT_PUBLIC_AZURE_STORAGE_URL=
AZURE_STORAGE_CONNECTION_STRING=
AZURE_STORAGE_ACCOUNT_NAME=
AZURE_STORAGE_ACCOUNT_KEY=

SENTRY_AUTH_TOKEN=
SENTRY_DSN=
NEXT_PUBLIC_SENTRY_DSN=
a